body {
  margin: 0;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1 {
  background-color: aqua;
}

#section2 {
  background-color: antiquewhite;
}

#section3 {
  background-color: royalblue;
}