.b-container {
  width: 100%;
  height: 50vh;
  padding-top: 50vh;
  padding-bottom: 50vh; 
}

.b-paralax-image {
  height: 100%;
  width: 100%;
  background-image: url("./img/banner.jpg");
  background-attachment: fixed;
  background-size: auto 10%;
}